{{- /* gotype: github.com/code-chimp/htmx-go-example/internal/models.ContactForm */ -}}
{{define "title"}}Update Contact{{end}}

{{define "body"}}
  <form id="edit-form" action="/contacts/{{ .ID }}/edit" method="post"></form>
  <form id="delete-form" action="/contacts/{{ .ID }}/delete" method="post"></form>
  <h3>Update Contact</h3>
  <div class="row justify-center">
    <div class="sm:w-full md:w-1/2">
      {{template "contact-form" .}}
      <div class="row md:justify-between">
        <button type="submit"
                class="btn btn-success"
                form="edit-form">
          <i class="fa fa-floppy-disk"></i>
          Save
        </button>
        <button type="submit"
                class="btn btn-danger justify-self-end"
                form="delete-form">
          <i class="fa fa-trash"></i>
          Delete
        </button>
      </div>
    </div>
  </div>

  <p>
    <a href="/contacts"
       role="button"
       class="btn btn-primary">
      <i class="fa fa-home"></i>
      Home
    </a>
  </p>
{{end}}
