{{- /* gotype: github.com/code-chimp/htmx-go-example/internal/models.ContactsIndexVM */ -}}
{{define "title"}}Contacts{{end}}

{{define "body"}}
  <div class="row mb-4">
    <div class="w-full lg:w-1/2">
      <a href="/contacts/new" role="button" class="btn btn-outline-primary">
        <i class="fa fa-circle-plus"></i>
        Add Contact
      </a>
    </div>
    <div class="flex w-full lg:w-1/2 lg:justify-end">
      <form action="/contacts" method="get" class="row items-center">
        <input type="search"
               id="search" name="q"
               class="border rounded mr-0.5"
               aria-label="Search"
               value="{{.Query}}"
               placeholder="Search Term"/>
        <button type="submit"
                class="btn btn-outline-success">
          <i class="fa fa-search"></i>
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="row mb-4">
    <table class="table-auto border border-collapse border-spacing-0.5 indent-1 w-full p-1">
      <thead>
      <tr class="[&>*]:border [&>*]:border-gray-400 [&>*]:p-2">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="[&>*:nth-child(odd)]:bg-gray-100 hover:[&>*]:bg-gray-300">
      {{range .Contacts}}
        <tr class="[&>*]:p-2 [&>*]:border">
          <td>{{ .First }}</td>
          <td>{{ .Last }}</td>
          <td>{{ .Phone }}</td>
          <td>{{ .Email }}</td>
          <td class="justify-center flex">
            <a role="button"
               class="btn btn-warning"
               href="/contacts/{{ .ID }}/edit">
              <i class="fa fa-pencil"></i>
              Edit
            </a>&nbsp;
            <a role="button"
               class="btn btn-info"
               href="/contacts/{{ .ID }}">
              <i class="fa fa-eye"></i>
              View
            </a>
          </td>
        </tr>
      {{end}}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="border py-1">&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
{{end}}
