{{- /* gotype: github.com/code-chimp/htmx-go-example/internal/models.ContactForm */ -}}
{{define "title"}}Create Contact{{end}}

{{define "body"}}
  <h3>New Contact</h3>
  <div class="row justify-center">
    <div class="w-full lg:w-1/2">
      <form action="/contacts/new" method="post">
        {{template "contact-form" .}}
        <button class="btn btn-success float-right lg:float-none">
          <i class="fa fa-floppy-disk"></i>
          Save
        </button>
      </form>
    </div>
  </div>

  <p>
    <a href="/contacts"
       role="button"
       class="btn btn-primary">
      <i class="fa fa-home"></i>
      Home
    </a>
  </p>
{{end}}
